/* 1. Imports */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);

@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');

/* Generic Styles (screen-size independent) */
main {
  padding-top: 100px;
  background-color:whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: navy;
  line-height: 26px;
  padding: 10px;
  /* width: 800px; */
  /* height: 2300px; */
  margin: 0px auto;
  margin-top:-5px;
  display: grid;
  gap: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1, h2{
    font-family: 'Boogaloo', cursive;
    color: navy;
}
h3{
    text-align: center;
    font-size: 2.5em;
}

img{
    max-width: 100%;
}

a {
    color:navy;
}

footer {
    width: 100%;
    background-color: navy;
    color: white;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
}

p a {
    color: whitesmoke;
}

/* Mobile Styles */
main{
    grid-template-columns: 1fr;
}

/* Larger Screen Styles */
@media screen and (min-width: 768px){
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
    h3{
        grid-column: 1 / 4;
    }
}