/* 1. Imports */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);

@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');

/* Generic Styles (screen-size independent) */

ul li {
    display: block;
    list-style: none;
}

li a{
    text-decoration: none;
}

nav ul {
    text-align: center;
}

main, li a {
  padding-top: 100px;
  background-color:whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: navy;
  line-height: 26px;
  padding: 10px;
  /* width: 800px; */
  /* height: 2300px; */
  margin: 0px auto;
  margin-top:-5px;
}

main{
    display: grid;
    gap: 1em;
    padding-bottom: 170px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1, h2{
    font-family: 'Boogaloo', cursive;
    color: navy;
}

h3{
    text-align: center;
    font-size: 2.5em;
}

img{
    width: 100px;
    height: 100px;
}

a {
    color:navy;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: navy;
    color: white;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

p a {
    color: whitesmoke;
}

/* Mobile Styles */
main{
    grid-template-columns: 1fr;
}
@media screen and (max-width:320px){
    #resize{
        width:150px;
        height:100px;
    }
    ul li{
        margin: 1em;
    }
}

/* Larger Screen Styles */
@media screen and (min-width: 768px){
    h2{
        text-align: center;
        font-size: 32px;
        grid-column: 1 / 4;
    }
    main{
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    main img{
        width: 1000px;
        height:500px;
        justify-self: center;
        grid-column: 1 / 4;
    }
    ul li{
        display: inline;
    }
}