@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* Change box model */
html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*General Styles*/
header{
    font-family: 'Oswald', sans-serif; 
    background-color: whitesmoke;
    color: #1B00B1;
    display:flex;
    width: 100%;
}

header img{
    width: 100px;
    height:100px;
}

h2{
    padding: 2em;
    margin: 0;
    font-size: 14px;
}

nav{
    background-color: #EBDDFE;
    margin: 0 auto;
    width:100%;
    /* padding: 5px; */
}

.hide{
    display: none;
  }

.navigation{
    list-style: none;
    display:flex; 
    justify-content: space-evenly;
    font-family: 'Oswald', sans-serif; 
    padding: 20px;
}

h3{
    font-size:20px;
    font-family: 'Oswald', sans-serif; 
    color: black;
    text-align: center;
    padding: 10px;
    margin-top:0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.temperature h3{
    margin:50px;
    margin-top: 0;
}

.precipitation h3{
    margin:50px;
    margin-top: 0;
}

.conditions h3{
    margin:50px;
    margin-top: 0;
}

#condition img{
    max-width: 40%;
  }

#outerComponent {
    position: absolute;
    margin:75px;
    padding: 100px;
    width: 300px;
    height: 300px;
  } 

  .component{
      width: 200px;
      height: 200px;
      background-color: lightgray;
      position: relative;
      border-radius: 90%;
      display: flex;
      justify-content: center;
      margin: 0;
  }
      
  .inner{
      width: 150px;
      height: 150px;
      background-color:grey;
      border-radius: 90%;
      align-self: center;
  }

  .ball {
    height: 23px;
    width: 23px;
    border-radius: 100%;
    background-color: orangered;
    color: transparent;
   }
  
  .symbol{
      height: 100%;
      width: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 3.5em;
      color: black;
  }
  
  #curWeather {
    background-size: cover;
    margin: 0;
   }

  .numbers {
    list-style:none; 
    padding:0;
    position: absolute;
    font-size: 18px;
    font-family: 'Oswald', sans-serif; 
  }
  
  .numbers li{
    color: black;
    position: absolute;
  }
  
  .i1 {
    transform: translate(35px,-5px);
  }
  
  .i2 {
      transform: translate(65px,22px);
  }
  
  .i3 {
      transform: translate(85px,70px);
  }
  
  .i4 {
      transform: translate(72px,120px);
  }
  
  .i5 {
      transform: translate(38px,153px);
  }
  
  .i6 {
      transform: translate(-3px,163px);
  }
  
  .i7 {
      transform: translate(-47px,153px);
  }
  
  .i8 {
      transform: translate(-80px,120px);
  }
  
  .i9 {
      transform: translate(-90px,70px);
  }
  
  .i10 {
      transform: translate(-80px,26px);
  }
  
  .i11 {
      transform: translate(-45px,-3px);
  }
  
  .i12 {
      transform: translate(-6px,-10px);
  }
  
  .first{
      transform: translate(162px,-29px);
  }
  
  .second{
      transform: translate(207px,9px);
  }
  
  .third{
      transform: translate(217px,69px);
  }
  
  .fourth{
      transform: translate(207px,127px);
  }
  
  .fifth{
      transform: translate(162px,178px);
  }
  
  .sixth{
      transform: translate(97px,200px);
  }
  
  .seventh{
      transform: translate(26px,178px);
  }
  
  .eighth{
      transform: translate(-14px,127px);
  }
  
  .ninth{
      transform: translate(-23px,70px);
  }
  
  .tenth{
      transform: translate(-14px,10px);
  }
  
  .eleventh{
      transform: translate(28px,-29px);
  }
  
  .twelfth{
      transform: translate(94px,-43px);
  }

main{
    background-color: whitesmoke;
    justify-content: center;
    margin:0;
}

#curWeather{
    display: grid;
    justify-items: center;
}

a:link{
    text-decoration: none;
    color:  black;
    justify-content: space-evenly;
}

a:visited{
    text-shadow:
		-1px -1px 0 #1B00B1,
		1px -1px 0 #1B00B1,
		-1px 1px 0 #1B00B1,
		1px 1px 0 #1B00B1;
    color: #1B00B1;
}

a:hover{
    text-shadow:
		-1px -1px 0 #1B00B1,
		1px -1px 0 #1B00B1,
		-1px 1px 0 #1B00B1,
		1px 1px 0 #1B00B1;
    color: #FFF9E8;
}

p{
    color: black;
    font-family: 'Oswald', sans-serif; 
    font-size: 18px;
}

footer{
    position: relative;
    bottom: 0;
    margin-bottom: 90px;
    background-color: #EBDDFE;
    width: 100%;
    font-family: 'Oswald', sans-serif; 
    text-align: center;
    color: black;
    padding: 10px;
}

/*Mobile Rules*/
@media screen and (max-width: 375px){
    nav {
        margin: 0 auto;
        background-color: #EBDDFE;
        position: fixed;
        bottom: 0;
        z-index: 1;
    }

    #curWeather{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .hide{
        display: none;
    }

    .current{
        margin-top:0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 10px;
    }

    .temperature{
        margin: 80px;
        margin-top:10px;
    }

    .precipitation{
        margin:80px;
        margin-top:10px;
    }

    .conditions{
        margin:80px;
        margin-top:10px;
    }
/* background pictures for summary */
    .clear {
         background-image: url("/rgummow.github.io/weather/docs/img/clear1.jpg");
    }

    .rain {
        background-image: url("/rgummow.github.io/weather/docs/img/rain1.jpg");
    }

    .fog {
        background-image: url("/rgummow.github.io/weather/docs/img/fog1.jpg");
    }

    .snow {
        background-image: url("/rgummow.github.io/weather/docs/img/snow1.jpg");
    }

    .clouds{
        background-image:url("/rgummow.github.io/weather/docs/img/clouds1.jpg");
    }
    
    .tile {
        width: 90%;
    }

    #temp {
        font-size: 4em;
        margin: 0;
        order: -1;
        width: 100%;
        display: block;
    }
    
    #high {
        color: var(--high-color);
        font-size: 1.5em;
        margin-right: 10px;
    }
    
    #low {
        color: var(--low-color);
        font-size: 1.5em;
        margin-left: 10px;
    }
    
    #windSpeed {
        width: 100%;
        font-size: 1.25em;
    }
    
    #feels-like {
        display: none;
    }
    
    #windGust {
        display: none;
    }

}

/*Large Screen Rules*/ 
@media screen and (min-width:768px){
    #curWeather{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .clear {
        background-image: url("/rgummow.github.io/weather/docs/img/clear2.jpg");
    }
    .rain {
        background-image: url("/rgummow.github.io/weather/docs/img/rain2.jpg");
    }
    .fog {
        background-image: url("/rgummow.github.io/weather/docs/img/fog2.jpg");
    }
    .clouds {
        background-image:url("/rgummow.github.io/weather/docs/img/clouds2.jpg");
    }

    .snow {
        background-image: url("/rgummow.github.io/weather/docs/img/snow2.jpg");
    }
    .tile {
        width: 416px;
        margin: 0;
        height: max-content;
    }
    
    /* style the current temperature tile */
    .current {
        width: 1235px;
        margin: auto;
        margin-bottom: 10px;
        height: auto;
        align-self: center;
    }
    
    #temp {
        font-size: 6em;
        margin: 0em;
        display: inline;
        padding: .7em;
    }
    
    #high {
        color: var(--high-color);
        display: inline;
        font-size: 2.5em;
        position: relative;
        top: -.7em;
    }
    
    #low {
        color: var(--low-color);
        display: inline;
        font-size: 2.5em;
        position: relative;
        top: -.7em;
    }
    
    #feels-like {
        margin-top: -10px;
        margin-bottom: 20px;
        font-size: 1em;
    }
    
    .wind {
        display: inline;
        font-size: 1.5em;
        margin: 2em;
    }
}

nav {
	margin: 0 auto;
    background-color: #EBDDFE;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: black;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
    color: #fff;
    text-shadow:
		-1px -1px 0 #1B00B1,
		1px -1px 0 #1B00B1,
		-1px 1px 0 #1B00B1,
		1px 1px 0 #1B00B1;
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {

    .navigation {
        display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: black;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
    }
    
    .location{
        grid-column: 1 / 4;
        margin:0;
    }
    
    .location h3{
        text-align: left;
    }
    .current h3{
        font-size: 20px;
    }

    .current{
        /* border: 1px solid #1B00B1; */
        grid-column: 2/3;
        margin-top: 0;
        width: 95%;
        margin: auto;
        margin-bottom: 10px;
        height: auto;
        align-content: center;
    }
    
    .temperature{
        /* border: 1px solid #1B00B1; */
        grid-column: 1/2;
        margin: 75px;
        margin-top:0;
    }
    
    .precipitation{
        /* border: 1px solid #1B00B1; */
        grid-column: 2/3;
        margin: 75px;
        margin-top:0;
    }
    
    .conditions{
        /* border: 1px solid #1B00B1; */
        grid-column: 3/4;
        margin: 75px;
        margin-top:0;
    }
    .tile {
        width: 32%;
        margin: 0;
        height: fit-content;
        justify-content: center;
    }
    
    /* style the current temperature*/
    #temp {
        font-size: 6em;
        margin: 0em;
        display: inline;
        padding: .7em;
    }
    
    #high {
        color: var(--high-color);
        display: inline;
        font-size: 2.5em;
        position: relative;
        top: -.7em;
    }
    
    #low {
        color: var(--low-color);
        display: inline;
        font-size: 2.5em;
        position: relative;
        top: -.7em;
    }
    
    #feels-like {
        margin-top: -10px;
        margin-bottom: 20px;
        font-size: 1em;
    }
    
    .wind {
        display: inline;
        font-size: 1.5em;
        margin: 2em;
    }    
}