@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);

@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

main, img {
    padding-top: 100px;
  background: navy;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 26px;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
    color: whitesmoke;
}
img{
    position: absolute;
    right: 20px;
    border: 3px solid whitesmoke;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navy;
    color: white;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
}
