@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);

@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');

main, nav {
    padding-top: 100px;
  background-color:whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: navy;
  line-height: 26px;
  padding: 10px;
  column-count: 2;
}

img {
    display:block;
    position:absolute;
    float: right;
    border: 3px solid whitesmoke;
}

main {
    width: 800px;
  height: 550px;
  margin: 0px auto;
  margin-top:-5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1, h2{
    font-family: 'Boogaloo', cursive;
    color: navy;
}

a {
    color:navy;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navy;
    color: white;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
}

p a {
    color: whitesmoke;
}