@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);

@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

nav {
    padding-top: 100px;
  background: navy;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 26px;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

a {
    color: whitesmoke;
}

img {
    justify:left;
}

main {
    justify: left;
    max-width: 50%;
}

footer {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navy;
    color: white;
    text-align: center;
}

p {
    font-family: 'Ibarra Real Nova', serif;
}
