@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

h1, main, footer{
  font-family: 'PT Sans', sans-serif;
  color: rgb(84, 8, 226);
  padding-left: 20px;
}

p{
  font-size: 18px;
}

footer{
  text-align: center; 
}